#array, .block, .block_id 	{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.exit-button {
    font-size: 400%;
    color: rgb(221, 144, 72); 
    float: right;
    margin-right: 2vw;
    /* margin-left: -65vw; */
}

.exit-link:any-link {
    color: rgb(221, 144, 72);
    text-decoration: none;
}

.exit-button:hover {
    cursor: pointer;
}

#array {
	height: 52vh;
	width: 87vh;
	margin-top: 12vh;

}

.block {
	background-color: #ffffff;
	position: absolute;
	bottom: 7vh;
	margin-right: 10vh;
	transition: .1s all ease;

}


.Sorter{
	padding-bottom: 5vh;

}

.sorter-parameters {
	color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    text-align: center;
	font-size: 200% ;
	padding-left: 3vh;
	padding-right: 1vh;
}

#sorter-parameter-container {
	display: block;
	margin-bottom: 2vh;
	margin-top: 6vh;
}

#sorter-dropdown {
	font-family: 'Poppins', sans-serif;
	font-size: 150% ;
}

#sorter-number {
	font-family: 'Poppins', sans-serif;
	font-size: 150% ;
	width: 8vh;
}

.sorter-buttons {
	font-family: 'Poppins', sans-serif;
	font-size: 200% ;
	padding: 1vh 3vh;
	cursor: pointer;
    border-radius: 4px;
    background-color: rgb(221, 144, 72); 
    color:rgb(0, 0, 0);
    text-align: center;
    border: .2vh solid #fcfafa;
    font-family: 'Poppins', sans-serif;
}



#sorter-title {
	font-family: 'Poppins', sans-serif;
	font-size: 700% ;
	padding: 1vh 3vh;
	cursor: pointer;
    border-radius: 8px;
    background-color: rgb(221, 144, 72); 
    color:rgb(0, 0, 0);
    text-align: center;
    border: .5vh solid #fcfafa;
    font-family: 'Poppins', sans-serif;
	margin-right: -.5vw;
}

#sorter-slider{
	width: 20vh;
}

#sorter-sortButton {
	margin-right: 30vh;
}
